body {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}


button {
    width: 40%;
}

table {
    border: 1px solid white;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2vh;
    padding: 2%;
    display: flex;
    overflow: auto;
}