.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    outline: none;
}

.search-box {
    width: 60%;
    height: auto;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black
}

.search-header {
    width: 100%;
    color: rgb(116, 114, 114);
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.search-header h2 {
    margin-left: 2%;
}

.search-header button {
    width: 5%;
    height: 20%;
    background-color: lightgrey;
    color: rgb(114, 112, 112);
    border: none;
    margin-top: 1%;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.search-header button:hover {
    color: black;
}

.search-results {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: scroll;
    height: auto;
    max-height: 200px;
}

.search-button {
    width: 92%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 2%;
}

.search-button button {
    width: 13%;
    height: 80%;
    margin-bottom: 2%;
    border-radius: 5px;
    cursor: pointer;
}

.search-button button:hover {
    opacity: 80%;
}

.searchbar {
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}

.searchbar input {
    width: 96%;
    margin: 1%;
    height: 30px;
    border-radius: 5px;
}