.container-wrapper {
  width: 70%;
  height: 100%;
  overflow: auto;
}

.collage {
  display: flex;
  flex-direction: row;
  overflow: visible;
}

@media (max-width: 806px) {
  .container-wrapper {
    height: auto;
    margin-top: 5rem;
  }
}

@media (max-width: 660px) {
  .container-wrapper {
    width: 80%;
  }
}

@media (max-width: 615px) {
  .container-wrapper {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .container-wrapper {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .container-wrapper {
    width: 95%;
  }
}

@media (max-width: 520px) {
  .container-wrapper {
    width: 100%;
  }
}
